@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #D3D3D3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Button Styling */
.contact-button {
  @apply relative inline-block px-12 py-3 text-white uppercase font-bold border-2 border-transparent overflow-hidden transition-colors duration-500 ease-in-out;
  background: linear-gradient(45deg, #007bff, #00d084); /* Background gradient for the button */
  background-size: 200% 200%;
  transition: background-position 0.5s ease;
}

/* Hover Effect */
.contact-button:hover {
  background-position: 100% 0;
  color: black;
}

.contact-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: white;
  transition: transform 0.5s ease;
  transform: scale(0);
  z-index: 0;
  border-radius: 50%;
}

/* Hover effect on pseudo-element */
.contact-button:hover::before {
  transform: scale(1);
}

.contact-button span {
  position: relative;
  z-index: 10;
}
